extends layout 

block content
  div(class='formContainer')
    h1= title

    if currentUser 
      div(class='displayStatus')
        h2 Admin Status:
        if currentUser.adminStatus
          h2(class='active') ACTIVE
        else 
          h2(class='disabled') DISABLED

      if (currentUser.adminStatus)
        a(href='/admin/revoke' class='link') REVOKE ADMIN STATUS
      else 
        form(method='POST' action='')
          div.form-group
            div(class='formInput')
              label(for='password') Admin Password:
              input(type='text' name='password')

            hr

            button(type='submit') Get Admin Status

            if (errors)
              ul 
                for error in errors 
                  li!= error.msg
    else 
      h1 You must be logged in to access this information 
      a(href='/login' class='link') LOGIN