extends layout 

block content 
  div(class='formContainer')

    h1= title

    form(method='POST' action='')
      div.form-group
        div(class='formInput')
          label(for='username') E-Mail Address: 
          input#email.form-control(type='email' name='username' placeholder='johnDoe@email.com')

        div(class='formInput')
          label(for='password') Password: 
          input#password.form-control(type='password' name='password')

        hr

        button(type='submit') Log In

        if errors 
          ul 
            for errors in errors 
              li!= error.msg
