extends layout 

block content 
  div(class='formContainer')

    h1= title

    form(method='POST' action='/login')
      div.form-group
        div(class='formInput')
          label(for='username') E-Mail Address: 
          input#email.form-control(type='email' name='username' placeholder='johnDoe@email.com')

        div(class='formInput')
          label(for='password') Password: 
          input#password.form-control(type='password' name='password')

        hr

        //- replace this with a simple button, idk what all those dots are doing
        button.btn.btn-primary(type='submit') Log In

        if errors 
          ul 
            for errors in errors 
              li!= error.msg

  //- a(href='/') HOME 
  //- a(href='/signup') Signup