extends layout 

block content 
  div(class='formContainer')
    h1= title

    if currentUser 
      //- dont just display true or false, if true display 'active', if false display 'disabled'
      h2 Member Status: #{currentUser.membershipStatus}
      if (currentUser.membershipStatus)
        a(href='/membership/revoke' class='link') REVOKE MEMBERSHIP STATUS
      else 
        form(method='POST' action='')
          div.form-group
            div(class='formInput')
              label(for='password') Membership Password: 
              input(type='text', name='password')

            hr

            button(type='submit') Get Membership Status
            
            if (errors)
              ul 
                for error in errors 
                  li!= error.msg
    else 
      h1 You must be logged in to access this information 
      a(href='/login' class='link') LOGIN