extends layout 

block content 
  h1= title

  form(method='POST' action='')
    if currentUser
      div.form-group
        label(for='message') Message (limited to 500 characters):
        //- textarea does not have a value propety, so we read our data directly into the text area field like so:
        textarea(name="message", cols="50", rows="10") #{data}

        hr

        button(type='submit') Submit

        if errors 
          ul 
            for error in errors
              li!= error.msg
    else 
      h1 You need to login to make a new post
      a(href='/login') LOGIN