/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

:root {
  --primary-color: #3484f0;
  --secondary-color: #C4DBFA;
  --background-color: #757575;
  --off-white: #f7f7f7;
}

body {
  font-family: monospace;
  font-size: large;
  margin: 0;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.whiteText {
  color: var(--off-white)
}

.header {
  background-color: var(--primary-color);
  color: var(--off-white);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerChild {
  width: 33%;
  color: var(--off-white);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCard {
  margin: 2%;
  padding: 5%;
  background-color: var(--off-white);
  width: 50%;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
}

.messageContent {
  width: 100%;
  overflow-wrap: break-word;
}

.postCardFooter {
  display: flex;
  justify-content: space-between;
}

.delete {
  background-color: var(--primary-color);
  padding: 2%;
  font-weight: bolder;

  display: flex;
  justify-content: center;
}

.newPost,
.status {
  background-color: var(--primary-color);
  color: var(--off-white);
  border-radius: 16px;

  margin: 2%;
  padding: 2%;
  position: fixed;
  bottom: 0;
}

.newPost {
  right: 0;
}

.status {
  left: 0;

  display: flex;
  flex-direction: column;
}

/* FORMS */

.formContainer {
  background-color: var(--off-white);
  margin: 15%;
  padding: 5%;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formInput {
  margin: 5% 0;

  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  width: 100%;
  padding: 5%;
  background-color: var(--primary-color);
  color: var(--off-white);
  font-size: 1.5em;
  font-weight: bolder;
  border: 0;
}

.link {
  background-color: var(--primary-color);
  color: var(--off-white);
  display: flex;

  width: 100%;
  font-size: 1.5em;
  font-weight: bolder;

  justify-content: center;
  align-items: center;
  padding: 2%;
}
